<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="icon" href="https://img.pngio.com/weather-png-hd-weather-png-transparent-480_480.png"> 
        <style>
            *{
                margin: 0px;
                box-sizing: border-box;
            }
            #content{
                background-color: rgba(0,0,0,0.5);
            }
            body{
                font-family: 'Alata', sans-serif;
            }
        </style>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>