{% extends 'base.html' %}

{% block content %}
<div id="content">
    <table>
        <tr>
            <td colspan="2"><h1>{{ data.city }}, {{ data.country }}</h1></td>
        </tr>
        <tr>
            <td colspan="2"><h2>High {{ data.high }}&deg;C&nbsp;&nbsp;&nbsp;&nbsp;Low {{ data.low }}&deg;C</h2></td>
        </tr>
        <tr>
            <td><img src=http://openweathermap.org/img/wn/{{ data.icon }}@4x.png></td>
            <td><h1 id="temp">{{ data.temp }}&deg;C</h1></td>
        </tr>
        <tr>
            <td><h2>{{ data.description }}</h2></td>
            <td><h1>Feels Like {{ data.feel }}&deg;C</h1></td>
        </tr>
        <tr>
        </tr>
    </table>
</div>
<div id="search">
    <input type="text" id="city"/><button id="btn">Search</button>
</div>
<script>
    document.getElementById("btn").addEventListener("click", search);
    function search(){
        city = document.getElementById("city").value;
        window.location.href = window.location.origin + "/api/" + city
    }
</script>
{% endblock %}